<?xml version="1.0" encoding="UTF-8"?>
<!-------------------------------------------------------------------->
<!-- This is a sample web.config file that disables filtering files -->
<!-- with the .sd extension on Windows IIS. It has to be placed in  -->
<!-- the root project directory.                                    -->
<!-------------------------------------------------------------------->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".sd" />
          <add fileExtension=".sd" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
